# python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# jupyter
.ipynb_checkpoints/

# data
data/interim/*
data/local/*

# models
models/*.pkl
models/*.joblib

# mlflow
mlruns/

# reports
reports/*.csv
reports/*.json

# system
.DS_Store
Thumbs.db