// Colors
$bg-main: #020817;
$bg-card: #071225;
$border: #334155;
$text-primary: #F8FAFC;
$text-secondary: #F8FAFC;
$accent: #00F58C;
$accent-hover: #22E17F;
$button-bg: #0d9266;
$button-bg-hover: #059669;
$error: #EF4444;

// Breakpoints
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;